*{
    padding: 0px;
    margin: 0px;
}
body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
}
a,a:hover{
    text-decoration: none;
}
#header{
    text-align: center;
    position: relative;
}
#logo{
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding: 20px 10px;
}
#user_login p{
    margin-bottom: 0px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
}
#wrapper{
    width: 960px;
    margin: 0px auto;
}
#footer{
    background: rgb(35, 71, 85);
}
ul#main_menu{
    text-align: center;
    background: rgb(35, 71, 85);
}
ul#main_menu li{
    display: inline-block;
}
ul#main_menu li a{
    padding: 8px 15px;
    color:#fff;
    display: block;
}
#content{
    min-height: 600px;
    padding: 20px 0px;
}
#footer{
    color: #fff;
    text-align: center;
    padding: 8px 0px;
}
ul.list-post li a.post-title{
    font-weight: bold;
    font-size: 14px;
    
}
ul.list-post li{
    margin-bottom: 20px;
    padding: 20px 0px;
    border-bottom: 1px dashed rgb(48, 48, 48);
}