body{
    background-color: #2980b9;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: #fff;
    width: 500px;
    margin: 150px auto 0px;
    height: 400px;
    text-align: center;
    box-shadow: 1px 1px 5px #4e4e4e;
    border-radius: 10px;
}
h1#login-title{
 background-color: #3498db;
 color: #fff;
 text-align: center;
 margin-bottom: 50px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
form input{
    display: block;
    margin: 0px auto 15px;
    border-radius: 5px;
    border: none;
    border: 1px solid #3498db;
}
form input[type='checkbox']{
    display: inline;
}
form input[type='submit']{
    padding: 0.5rem 2.5rem;
    background-color: #fff;
    color: #3498db;
    font-weight: bold;
    cursor: pointer;
}
form input[type='submit']:hover{
    background-color: #7bcaff;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.1s;
}
input[type='text'],
input[type='password']{
    width: 60%;
    padding: 1rem;
    text-align: center;
}
