*{
    margin: 0px;
    padding: 0px;
}
/* canh giữa website */
#wrapper{
    width: 960px;
    margin: 0pc auto;
}

h1{
    background-color: rgb(73, 155, 155);
}
h1:hover{
    background-color: sandybrown;
    cursor: pointer;
}

input:checked+label{
    color: red;
}
.sub-title{
    color: orangered;
}
.sub-title1{
    color: greenyellow;
}
h2{
    margin: 40px 0px;
}
a{
    font-weight: bold;
    color: red;
}