
        #wrapper{
                width:960px;
                margin: 0px auto;
            }
            #header,#footer{
                padding:30px 0px;
                text-align:center;
                background:grey;
            }
            #content{
                padding:20px 0px;
                text-align:center;
                min-height:600px;
            }
