/* -------global-------- */
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-size: 16px;
    line-height: 1.5;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#header{
    color: #f5f5f5;
    background-color: #0073aa;
    flex: 100%;
}
#header h2{
    text-align: center;
}
#content{
    min-height: 600px;
    flex: 100%;
}
#footer{
    background-color: #232323;
    flex: 100%;
    
}
#footer p{
    color:#f5f5f5 ;
    text-align: center;
    font-size: 20px;
}